body{
  background-color: RoyalBlue ;
  margin: 0;
  padding: 0;
}
.lluna{
  width: 200px;
  height: 200px;
  background-color: RoyalBlue;
  border-radius: 100px;
  box-shadow: inset 30px 0px 0 white;
}
.nuvol{
  width: 250px;
  height: 150px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: 150px;
}
.nuvol::after{
  content: '';
  padding: 50px 70px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: 140px;
  top: 20px;
}
.nuvol::before{
  content: '';
  padding: 50px 70px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: -40px;
  top: 100px;
}
 .nuvol2{
  width: 250px;
  height: 150px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: 1400px;
  top: -250px;
}
.nuvol2::after{
  content: '';
  padding: 50px 70px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: 140px;
  top: 20px;
}
.nuvol2::before{
  content: '';
  padding: 50px 70px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  left: -40px;
  top: 90px;
}
.flor{
  position: relative;
  left: 200px;
  animation-name: flor;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: 2;

}
@keyframes flor{
  from{
    transform:rotate(0deg);
    transform-origin: 0;
  }
  to{
    transform:rotate(360deg);
    transform-origin: 0;

  }

}
.petal{
  width: 100px;
  height: 100px;
  background-color: #FF3;
  border-radius: 100px 0 100px 0;
}
.centre{
  width: 50px;
  height: 50px;
  background-color: #FA4;
  border-radius: 25px;
  position: relative;
  top:-525px;
  left: -25px;
}
.p2{
  transform: translateY(-100px) rotate(60deg) ;
  transform-origin: 0 100px;
 }
.p3{
  transform: translateY(-200px) rotate(120deg) ;
  transform-origin: 0 100px;}
.p4{
  transform: translateY(-300px) rotate(180deg) ;
  transform-origin: 0 100px;}
.p5{
  transform: translateY(-400px) rotate(240deg) ;
  transform-origin: 0 100px;}
.p6{
  transform: translateY(-500px) rotate(300deg) ;
  transform-origin: 0 100px;
}












.mont{
 width: 0;
 height: 0;
 border-right: 400px solid transparent;
 border-top: 20px solid transparent;
 border-left: 400px solid transparent;
 border-bottom: 400px solid #f0ad4e;
 position: relative;
  right: 10px;

}
.mont2{
  width: 0;
  height: 0;
  border-right: 460px solid transparent;
  border-top: 20px solid transparent;
  border-left: 460px solid transparent;
  border-bottom: 460px solid orange;
  position: relative;
  left: 190px;
  bottom: 480px;

}
.mont3{
  width: 0;
  height: 0;
  border-right: 460px solid transparent;
  border-top: 20px solid transparent;
  border-left: 500px solid transparent;
  border-bottom: 500px solid red;
  position: relative;

  left: 870px;
  bottom: 1000px;


}
.mont4{
  width: 0;
  height: 0;
  border-right: 300px solid transparent;
  border-top: 20px solid transparent;
  border-left: 300px solid transparent;
  border-bottom: 300px solid #f0ad4e;
  position: relative;

  left: 1500px;
  bottom: 1320px;

}
.montanya{
  position: relative;
}





.hormiga{
 width: 200px;
 height: 100px;
 background-color: white;
 border-radius: 100%;
 position: relative;
 left: 1400px;
 top: -250px;
}
.hormiga::after{
 content: '';
 padding: 30px 50px;
 background-color: white;
 border-radius: 100%;
 position: relative;
 left: 180px;
 top: 10px;
}
.hormiga::before{
 content: '';
 padding: 30px 60px;
 background-color: white;
 border-radius: 100%;
 position: relative;
 left: -90px;
 top: 40px;
}
